{% extends 'admin/base.html.twig' %}

{% block title %}
	Utilisateurs
{% endblock %}

{% block css %}
<link href="{{ asset('admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}


	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Utilisateurs</h6>
            <a href="{{ path('user_new') }}" class="btn btn-info">Créer un utilisateur</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Adresse Email</th>
							<th>Rôles utilisateur</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Compagnie</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.email }}</td>
								<td>
                                    {% for role in user.roles %}
                                        {{ role == "ROLE_ADMIN" ? "Administrateur" }}
                                        {{ role == "ROLE_USER" ? "Utilisateur" }}
                                        {{ role == "ROLE_BUSINESS" ? "Organisateur" }}{{ loop.last ? '' : ', ' }}
                                    {% endfor %}
                                </td>
								<td>{{ user.firstName }}</td>
								<td>{{ user.lastName }}</td>
								<td>{{ user.Company ? : "Aucune" }}</td>
								<td>
									<a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
									<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


	
{% endblock %}

{% block js %}
	<script src="{{ asset('admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    
    <script>
    // Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable();
});

    </script>
{% endblock %}
