{% extends 'base.html.twig' %}
{% block title %}Mon Espace Personnel - Profil Impact Gaming{% endblock %}

{% block body %}
	<section>
		{% for success in app.flashes('successWithPw') %}
			<div id="success" data-error="{{ success }}"></div>
			<script>
				Toastify({
text: document.querySelector('#success').dataset.error,
duration: 10000,
close: true,
gravity: "bottom",
position: "left",
backgroundColor: "linear-gradient(to right, #11998e, #38ef7d)",
stopOnFocus: true
}).showToast();
			</script>
		{% endfor %}
		{% for success in app.flashes('success') %}
			<div id="success" data-error="{{ success }}"></div>
			<script>
				Toastify({
text: document.querySelector('#success').dataset.error,
duration: 10000,
close: true,
gravity: "bottom",
position: "left",
backgroundColor: "linear-gradient(to right, #11998e, #38ef7d)",
stopOnFocus: true
}).showToast();
			</script>
		{% endfor %}
		<div class="container mb-5">
			<h1 class="text-center">Mon compte</h1>
			<div class="row mt-5">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body d-flex flex-column text-center">
							<div class="icon">
								<div class="rounded-icon big-icon">
								<i class="fa fa-user"></i>
							</div>
							</div>
							<div class="info">
								<span class="text-gray">Adresse email</span>
							<h4>{{ app.user.email }}</h4>
							<hr>
							</div>
							<div class="info">
								<div class="row text-center">
								<div class="col-md-6">
									<span class="text-gray">Nom</span>
									<h4>{{ app.user.firstName }}</h4>
								</div>
								<div class="col-md-6">
									<span class="text-gray">Prénom</span>
									<h4>{{ app.user.lastName }}</h4>
								</div>
							</div>
							<hr>
							</div>
							<div class="info">
							{% if app.user.company %}
								<span class="text-gray">Société</span>
									<h4>{{ app.user.company }}</h4>
							{% endif %}
							</div>
							<div class="info">
								<a href="{{ path('editProfile') }}" class="button button-header">Modifier mon compte</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h2>Mes évènements</h2>

					<div class="event-container">
						
							{% for event in events %}
							<div class="event-card row no-gutters">
							<div class="col-md-12">
									<div class="event-date h-100">
										<p class="event-day">{{ event.launchDate|date('d') }}<br/><span class="month">{{ event.launchDate|format_datetime(pattern='MMM') }}</span>
										</p>
									</div>
								</div>
								<div class="col-md-12">
									<div class="event-infos">
											<a href="{{ path('my_events_business',{'slug':event.slug}) }}" class="text-center text-md-left">
												<h1 class="event-title">{{ event.name }}</h1>
											</a>
											<div class="minimal-infos-container">
												<div class="rounded-icon primary-icon">
													<i class="fa fa-map-marker-alt"></i>
												</div>
												<span>{{ event.city }}
												-
												{{ event.launchDate|format_datetime(pattern='d MMMM yyyy') }}
												-
												{{ event.stopDate|format_datetime(pattern='d MMMM yyyy') }}</span>
											</div>
											<div class="ticket-container">
												<div class="rounded-icon primary-icon">
													<i class="fa fa-ticket-alt"></i>
												</div>
												<span>{{ event.price != 0 ? event.price ~" €" : "Gratuit" }}</span>
											</div>
											<div class="cashprize-container">
												<div class="rounded-icon primary-icon">
													<i class="fa fa-award"></i>
												</div>
												<span>
													{{ event.cashprize != 0 ? event.cashprize ~ " €" : "Aucun"}}</span>
											</div>

										</div>
								</div>
								</div>
							{% endfor %}
							<div class="d-flex justify-content-center align-items-center flex-column mt-1">
								<a href="{{ path('events_business_new') }}" class="button button-header w-100 text-center">Ajouter un évènement</a>
							<a href="{{ path('my_events') }}" class="button button-header w-100 mt-1 text-center">Voir tous mes évènements</a>
							</div>
						
					</div>
				</div>
			</div>

		</section>
	{% endblock %}
