{% extends 'admin/base.html.twig' %}
{% block title %}Départements
{% endblock %}

{% block css %}
	<link href="{{ asset('admin/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Jeux disponibles</h6>
			<a href="{{ path('available_games_new') }}" class="btn btn-info">Ajouter un jeu</a>
		</div>
		<div class="card-body">

			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Nom du jeu</th>
							<th>URL</th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
						{% for game in available_games %}
							<tr>

								<td>{{ game.gameName }}</td>
								<td>{{ game.gameUrl }}</td>
								<td>
									<a href="{{ path('available_games_show', {'id':game.id}) }}">
										<button class="btn btn-info">
											<i class="fa fa-eye"></i>
										</button>
									</a>
									<a href="{{ path('available_games_edit', {'id':game.id}) }}">
										<button class="btn btn-warning">
											<i class="fa fa-edit"></i>
										</button>
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src="{{ asset('admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    
    <script>
    // Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable();
});

    </script>
{% endblock %}