<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}Impact Gaming - L'outil Gaming ultime {% endblock %}</title>
		<meta name="description" content="{% block description %} Impact Gaming est un site spécialisé dans le domaine du jeu vidéo afin d'améliorer la mise en relation entre les particuliers et les professionnels et aider a l'évolution du gaming en France. {% endblock %}" />
		
		<!-- Open Graph Metas -->
		<meta property="og:title" content="{% block og_title %} Impact Gaming - L'outil Gaming ultime {% endblock %}" />
		<meta property="og:url" content="{% block og_url %} https://impactgaming.fr {% endblock %}" />
		<meta property="og:image" content="{% block og_image %}  {% endblock %}" />
		<meta property="og:description" content="{% block og_description %} Impact Gaming est un site spécialisé dans le domaine du jeu vidéo afin d'améliorer la mise en relation entre les particuliers et les professionnels et aider a l'évolution du gaming en France. {% endblock %}" />
		<meta property="og:site_name" content="Impact Gaming" />
		<meta property="og:type" content="{% block og_type %} article {% endblock %}" />

		<link rel="stylesheet" href="{{ asset('vendors/bootstrap/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('vendors/fontawesome/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('vendors/themify-icons/themify-icons.css') }}">
		<link rel="stylesheet" href="{{ asset('vendors/linericon/style.css') }}">
		<link rel="stylesheet" href="{{ asset('vendors/owl-carousel/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href="{{ asset('vendors/owl-carousel/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ asset('vendors/flat-icon/font/flaticon.css') }}">
			
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

		<!-- (Optional) Latest compiled and minified JavaScript translation files -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/custom.css') }}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
		<link rel="stylesheet" href="{{ asset('custom/style.css') }}">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <link rel="stylesheet" type="text/css" media="screen"  href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
		<script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
		
	</head>
	<body>
		<header class="header_area">
			<div class="main_menu">
				<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
					<div class="container-fluid box_1620">
						<a class="navbar-brand logo_h" href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav justify-content-end">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('events') }}">Accueil</a>
								</li>
								
								{# <li class="nav-item"><a class="nav-link" href="speaker.html">Organisations</a>
								                        <li class="nav-item submenu dropdown">
								                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								                               aria-expanded="false">Communauté</a>
								                            <ul class="dropdown-menu">
								                                <li class="nav-item"><a class="nav-link" href="event-schedule.html">Schedule</a>
								                                <li class="nav-item"><a class="nav-link" href="event-gallery.html">Gallery</a>
								                                <li class="nav-item"><a class="nav-link" href="price.html">Price Table</a>
								                            </ul>
								                        </li>
								
								                        <li class="nav-item submenu dropdown">
								                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								                               aria-expanded="false">Blog</a>
								                            <ul class="dropdown-menu">
								                                <li class="nav-item"><a class="nav-link" href="blog.html">Blog Single</a></li>
								                                <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
								                            </ul>
								                        </li> 
								                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
								                        #}

								{% if app.user %}
									<li class="nav-item">
										<a class="nav-link" href="{{ path('profile') }}">Mon compte</a>
									</li>
									{% if app.user and is_granted("ROLE_ADMIN") %}
										<li class="nav-item">
											<a class="nav-link" href="{{ path('admin_home') }}">Administration</a>
										</li>
									{% endif %}
									<li class="nav-item">
										<a class="nav-link " href="{{ path('app_logout') }}">
											<button class="btn btn-info btn-sm">
												<i class="fa fa-door-open"></i> Déconnexion
											</button>
										</a>
									</li>
								{% else %}
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_register') }}">
											<button class="btn btn-secondary btn-sm">
												<i class="fa fa-user-plus"></i> Créer son compte
											</button>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_login') }}">
											<button class="btn btn-info btn-sm">
												<i class="fa fa-user"></i> Se connecter
											</button>
										</a>
									</li>

								{% endif %}

							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		{% block body %}{% endblock %}
		<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget text-center text-md-left">
							<h6>A propos</h6>
							<p>
								Impact Gaming est un site spécialisé dans le domaine du jeu vidéo afin d'améliorer la mise en relation entre les particuliers et les professionnels et aider a l'évolution du gaming en France.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget text-center text-md-left">
							<h6>Liens de navigation</h6>
							<div class="row">	
								<div class="col">
									<ul>
										<li>
											<a href="{{ path('home')}}">Accueil</a>
										</li>
										<li>
											<a href="{{ path('events')}}">Evènements</a>
										</li>
										{% if app.user %}
											<li>
												<a href="{{ path('profile')}}">Mon compte</a>
											</li>
										{% else %}
											<li>
												<a href="{{ path('app_login')}}">Connexion</a>
											</li>
											<li>
												<a href="{{ path('app_register')}}">Inscription</a>
											</li>
										{% endif %}
									</ul>
								</div>
								<div class="col">
									<ul>
										<li>
											<a href="{{ path('about')}}">A propos</a>
										</li>
										<li>
											<a href="{{ path('events')}}">Contactez-nous</a>
										</li>
										<li>
											<a href="{{ path('events')}}">CGU</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					 <div class="col-lg-3  col-md-6 col-sm-6">
					                <div class="single-footer-widget">
					                 
					                </div>
					            </div>
					<div class="col-lg-3  col-md-6 col-sm-6">
					     	<div class="single-footer-widget text-center text-md-left">
							<h6>Partenaires</h6>
							<div class="row">	
								<div class="col">
									<ul>
										<li>
											<a href="">jeux.video</a>
										</li>
										<li>
											<a href="">jeuxvideo.com</a>
										</li>
										<li>
											<a href="">Envie de devenir partenaire?</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
			</div>
			 <div class="footer-bottom">
			        <div class="container">
			            <div class="row align-items-center">
			                <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left" style="display:block"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			                 <a href="https://www.impactgaming.fr"> www.impactgaming.fr</a> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> in Paris, theme by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			                <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right" style="display:block">
			                    <a href="https://www.facebook.com/impactgamingfrance" target="_blank"><i class="fab fa-facebook-f"></i></a>
			                    <a href="#"><i class="fab fa-twitter"></i></a>
			                    <a href="https://discord.gg/DAT7HdzPpm" target="_blank"><i class="fab fa-discord"></i></a>
			                    <a href="mailto:contact@impactgaming.fr"><i class="fas fa-envelope"></i></a>
			                </div>
			            </div>
			        </div>
			    </div> 
		</footer>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50163405-12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50163405-12');
</script>

		<script src="{{ asset('vendors/jquery/jquery-3.2.1.min.js') }}" defer></script>
		<script src="{{ asset('vendors/bootstrap/bootstrap.bundle.min.js')}}"></script>
		<script src="{{ asset('vendors/owl-carousel/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('vendors/Magnific-Popup/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ asset('js/jquery.ajaxchimp.min.js')}}"></script>
		<script src="{{ asset('js/mail-script.js') }}"></script>
		<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ asset('js/main.js') }}"></script>
    </script>
        <script>
			if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1){
			 document.getElementById("events_launchDate").attributes["type"].value = "date";
			 document.getElementById("events_stopDate").attributes["type"].value = "date";
		}
					
		</script>	
		<script   type="text/javascript">
				$(document).ready(function(){
					$('select').selectpicker()
				})
		</script>
		{% block javascripts %}{% endblock %}

	</body>
</html>
