{{ form_start(form) }}
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			{{ form_label(form.name) }}
			{% apply spaceless %}
			{{ form_errors(form.name) }}
			{% endapply %}
			{{ form_widget(form.name) }}
		</div>
		<div class="form-group">
			{{ form_label(form.websiteLink) }}
			{{ form_widget(form.websiteLink) }}
		</div>
		<div class="form-group">
			{{ form_label(form.city) }}
			{{ form_widget(form.city) }}
		</div>
		<div class="form-group">
			{{ form_label(form.launchDate) }}
			{{ form_widget(form.launchDate) }}
		</div>
		<div class="form-group">
			{{ form_label(form.stopDate) }}
			{{ form_widget(form.stopDate) }}
		</div>
		<div class="form-group">
			{{ form_label(form.price) }}
			{{ form_widget(form.price) }}
		</div>
		<div class="form-group">
			{{ form_label(form.cashprize) }}
			{{ form_widget(form.cashprize) }}
		</div>
		<div class="form-group">
			{{ form_label(form.category) }}
			{{ form_widget(form.category) }}
		</div>
		<div class="form-group">
			{{ form_label(form.availableGames) }}
			{{ form_widget(form.availableGames) }}
		</div>
		<div class="form-group">
			{{ form_label(form.organizer) }}
			{{ form_widget(form.organizer) }}
		</div>
		{% if event.socialLinks|length == 0 %}
			<div class="form-group d-flex justify-content-between align-items-center">
				<button class="btn btn-info fb-button" type="button">
					<i class="fab fa-facebook-f"></i>
				</button>
				<i class="fa fa-check ml-2 checked-button-fb d-none"></i>
				{{ form_widget(form.fbUrl) }}
			</div>
			<div class="form-group d-flex justify-content-between align-items-center">
				<button class="btn btn-info tw-button" type="button">
					<i class="fab fa-twitter"></i>
				</button>
				<i class="fa fa-check ml-2 checked-button-tw d-none"></i>
				{{ form_widget(form.twUrl) }}
			</div>
		{% elseif event.socialLinks|length == 1 %}
			{% for socialLink in event.socialLinks %}
				{% if socialLink.type == "facebook" %}
					<div class="form-group d-flex justify-content-between align-items-center">
						<button class="btn btn-info fb-button" type="button">
							<i class="fab {{ socialLink.class }}"></i>
						</button>
						<i class="fa fa-check ml-2 checked-button-fb d-none"></i>
						{{ form_widget(form.fbUrl, {'attr':{'value':socialLink.url}}) }}
						<button type="button" class="btn btn-danger ml-1 deleteLinkBtn" data-path="{{ path('slink_delete', {'socialid':socialLink.id}) }}" data-token="{{ csrf_token('delete' ~ socialLink.id) }}">
							<i class="fa fa-trash"></i>
						</button>
					</div>
					<div class="form-group d-flex justify-content-between align-items-center">
						<button class="btn btn-info tw-button" type="button">
							<i class="fab fa-twitter"></i>
						</button>
						<i class="fa fa-check ml-2 checked-button-tw d-none"></i>
						{{ form_widget(form.twUrl) }}
					</div>
				{% elseif socialLink.type == "twitter" %}
					<div class="form-group d-flex justify-content-between align-items-center">
						<button class="btn btn-info fb-button" type="button">
							<i class="fab fa-facebook-f"></i>
						</button>
						<i class="fa fa-check ml-2 checked-button-fb d-none"></i>
						{{ form_widget(form.fbUrl) }}
					</div>
					<div class="form-group d-flex justify-content-between align-items-center">
						<button class="btn btn-info tw-button" type="button">
							<i class="fab {{ socialLink.class }}"></i>
						</button>
						<i class="fa fa-check ml-2 checked-button-tw d-none"></i>
						{{ form_widget(form.twUrl, {'attr':{'value':socialLink.url}}) }}
						<button type="button" class="btn btn-danger ml-1 deleteLinkBtn" data-path="{{ path('slink_delete', {'socialid':socialLink.id}) }}" data-token="{{ csrf_token('delete' ~ socialLink.id) }}">
							<i class="fa fa-trash"></i>
						</button>
					</div>
				{% endif %}
			{% endfor %}
		{% elseif event.socialLinks|length > 1 %}
			{% for socialLink in event.socialLinks %}
				{% if socialLink.type == "facebook" %}
					<div class="form-group d-flex justify-content-between align-items-center">
						<button class="btn btn-info fb-button" type="button">
							<i class="fab {{ socialLink.class }}"></i>
						</button>
						<i class="fa fa-check ml-2 checked-button-fb d-none"></i>
						{{ form_widget(form.fbUrl, {'attr':{'value':socialLink.url}}) }}
						<button type="button" class="btn btn-danger ml-1 deleteLinkBtn" data-path="{{ path('slink_delete', {'socialid':socialLink.id}) }}" data-token="{{ csrf_token('delete' ~ socialLink.id) }}">
							<i class="fa fa-trash"></i>
						</button>
					</div>
				{% elseif socialLink.type == "twitter" %}
					<div class="form-group d-flex justify-content-between align-items-center">
						<button class="btn btn-info tw-button" type="button">
							<i class="fab {{ socialLink.class }}"></i>
						</button>
						<i class="fa fa-check ml-2 checked-button-tw d-none"></i>
						{{ form_widget(form.twUrl, {'attr':{'value':socialLink.url}}) }}
						<button type="button" class="btn btn-danger ml-1 deleteLinkBtn" data-path="{{ path('slink_delete', {'socialid':socialLink.id}) }}" data-token="{{ csrf_token('delete' ~ socialLink.id) }}">
							<i class="fa fa-trash"></i>
						</button>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7">
						<div class="form-group">
							{{ form_label(form.address) }}
							{{ form_widget(form.address) }}
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							{{ form_label(form.ticketNumber) }}
							{{ form_widget(form.ticketNumber) }}
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							{{ form_label(form.support) }}
							{{ form_widget(form.support) }}
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							{{ form_label(form.cp) }}
							{{ form_widget(form.cp) }}
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							{{ form_label(form.department) }}
							{{ form_widget(form.department) }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					{{ form_label(form.shortDesc) }}
					{{ form_errors(form.shortDesc) }}
					{{ form_widget(form.shortDesc) }}
				</div>
				<div class="form-group">
					{{ form_label(form.longDesc) }}
					{{ form_errors(form.longDesc) }}
					{{ form_widget(form.longDesc) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{% if currentBanner is defined %}
					<img src="{{ asset('uploads/banners/'~ currentBanner) }}" id="current-banner" alt="Banniere actuelle" width="100">
				{% else %}
					<img src="{{ asset('img/default/defaultbanner.jpg') }}" id="current-banner" alt="Bannière actuelle" width="100">
				{% endif %}
					{{ form_label(form.banner) }}
					{{ form_widget(form.banner) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
				{% if currentBanner is defined %}
					<img src="{{ asset('uploads/logos/'~ currentLogo) }}" id="current-logo" alt="Logo actuel" width="100">
				{% else %}
					<img src="{{ asset('img/default/defaultlogo.png')}}" id="current-logo" alt="Logo actuel" width="100">
				{% endif %}
					{{ form_label(form.logo) }}
					{{ form_widget(form.logo) }}
				</div>
			</div>
		</div>

	</div>
</div>
<div class="text-center">
	<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
	<a href="{{ path('events_index') }}" class="btn btn-primary">
		<i class="fa fa-arrow-left"></i>
	</a>
</div>
{{ form_end(form) }}
<script src="{{ asset('vendors/jquery/jquery-3.2.1.min.js') }}"></script>
<script>
	document.querySelector('.fb-button').addEventListener("click", toggleFbInput);
document.querySelector('.tw-button').addEventListener("click", toggleTwInput);

function toggleFbInput() {
if (document.querySelector('.fbInput').disabled == true) {
document.querySelector('.fbInput').disabled = false;
document.querySelector('.checked-button-fb').classList.remove('d-none')
} else {
document.querySelector('.fbInput').disabled = true;
document.querySelector('.checked-button-fb').classList.add('d-none')
document.querySelector('.fbInput').value = defaultValueFb;
}
}
function toggleTwInput() {
if (document.querySelector('.twInput').disabled == true) {
document.querySelector('.twInput').disabled = false;
document.querySelector('.checked-button-tw').classList.remove('d-none')
} else {
document.querySelector('.twInput').disabled = true;
document.querySelector('.checked-button-tw').classList.add('d-none')
document.querySelector('.fbInput').value = defaultValueFb;
}
}
document.querySelectorAll('.deleteLinkBtn').forEach((button) => {
button.addEventListener('click', deleteLink)
});
function deleteLink() {
fetch(document.location.origin + this.dataset.path, {method: 'DELETE'}).then((results) => {
location.reload()
})
}

function readURLBanner(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#current-banner').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#events_admin_banner").change(function() {
  readURLBanner(this);
});

function readURLLogo(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#current-logo').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#events_admin_logo").change(function() {
  readURLLogo(this);
});

$("#events_admin_launchDate_date").addClass('form-control')
$("#events_admin_launchDate_time").addClass('form-control')
$("#events_admin_stopDate_date").addClass('form-control')
$("#events_admin_stopDate_time").addClass('form-control')
</script>
